<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
        <add key="testSetting1" value="mytest1" />
        <add key="testSetting2" value="mytest2" />
    </appSettings>

    <connectionStrings>
        <add name="testConnectionString1" connectionString="Data Source=.;Initial Catalog=MyConnectionString1;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
        <add name="testConnectionString2" connectionString="Data Source=.;Initial Catalog=MyConnectionString2;IntegratedSecurity=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>